<!DOCTYPE html>
<html>
<head>
<script
src="http://maps.googleapis.com/maps/api/js">
</script>


</head>

<body>
<form id="form1">
<table>
    <tr>
        <td>Enter Latitude:</td>
        <td>
            <input type="text" name="lat" value="13.053147716796578" />
        </td>
    </tr>
    <tr>
        <td>Enter Longitude:</td>
        <td>
            <input type="text" name="lng" value="80.2501953125" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input type="button" value="Submit" />
        </td>
    </tr>
</table>
<div id="googleMap" style="width:500px;height:380px;"></div>
</form>

</body>
</html>